.App {
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz {
  padding: 4em 2em;
  background-color: #1e1f26;
}

.quiz-wrapper {
  margin: 57px auto;
  max-width: 800px;
  min-height: 60vh;
  padding: 1em 3em;
  border-radius: 40px;
}

.cardList {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.search-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-list li {
  padding: 5px 10px;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #eee;
  cursor: pointer;
}

.quiz-tests {
  padding: 15px 5px;
}

.question-cat-wrapper {
  padding: 5px;
  border: 1px solid #eee;
  background: #eee;
  max-width: 30%;
  margin: 0 auto;
}

.ck-button {
  display: block;
  overflow: auto;
  float: left;
  font-size: 17px;
  color: #5c5568;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid rgba(235, 236, 235, 0.75);
  border-radius: 40px;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease 0s;
  max-width: 352px;
  margin: 10px auto;
}

.ck-button.active {
  color: #fff;
  background: #fbb233;
  border-color: #fbb233;
  transform: scale(1.03);
  font-weight: 700;
}

.ck-button:hover {
  color: #fff;
  background: #fbb233;
  border-color: #fbb233;
  font-weight: 700;
}

.ck-button label {
  float: left;
  cursor: pointer;
  padding: 0.8em 1.4em;
}

.ck-button label span {
  text-align: center;
  padding: 3px 0px;
  display: block;
}

.ck-button label input {
  position: absolute;
  top: -20px;
}

/** Categories **/

.category-image {
  flex-basis: 50%;
  flex-grow: 0;
  min-width: 125px;
  cursor: pointer;
}

.category-image:hover {
  animation: wiggle 1s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.nav-icon {
  margin: 0.2em;
  width: 30px;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #fff;
  border-radius: 3px;
  content: "";
  display: block;
  height: 5px;
  margin: 4px 0;
  transition: all 0.2s ease-in-out;
}

/*** HEADER ***/
.MuiDrawer-paper {
  min-width: 150px;
  background-color: #1b277d;
  color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.logo {
  width: 32px;
}

span.logo-text {
  color: #ffffff;
  padding-left: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 24px;
}

@media screen and (min-width: 992px) {
  div#back-to-top {
    padding-left: 120px;
    padding-right: 120px;
  }
}

/********** HERO ***************/

#hero {
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  padding-top: 150px;
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
.question-header {
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 0;
  font-size: 2.2em;
  margin-bottom: 35px;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  top: -70px;
  margin-bottom: -7px;
  min-height: 80px;
  max-height: 120px;
}

/**** FOOTER ***/


.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/***** Trying something ****/

.container {
  margin: 0 auto;
  padding: 0px 1rem;
  max-width: 1200px;
}

.left {
  text-align: left;
}

.max-w-400 {
  max-width: 400px !important;
}

.mb-16 {
  margin-bottom: 4rem !important;
}

.text-44 {
  font-size: 44px !important;
}

.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.relative {
  position: relative;
}

.jss169 {
  position: relative;
  width: 150px;
  height: auto;
  margin: 0px auto;
}

.jss169 img {
  width: inherit;
}
.mt-6 {
  margin-top: 1.5rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.jss168 {
  display: block;
}

.jss168 {
  position: relative;
  text-align: right;
}

.jss167 {
  width: 362px;
}

.jss166 {
  text-align: center !important;
}

section {
  padding: 5rem 0;
}

section#blog {
  background: #f5f5f5;
}

/*** Testemonials **/

section#testemonials p {
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(24, 37, 56, 0.8);
}

.testemon-text {
  max-width: 320px;
  margin: 0 auto;
  margin-top: 15px;
}

.MuiGrid-root.avatar {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.MuiGrid-root.avatar img {
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.MuiGrid-root.tstAuthor h4 {
  font-size: 17px;
}

.MuiGrid-root.tstAuthor strong {
  color: #bdbdbd;
}

/*** Contact Section ***/

section.contact {
  background: #fff;
}

/** Category Styles & Banner Styles  **/
header.banner-full {
  position: relative;
  background-color: #4949b8;
}

.page-banner {
  background-image: url(./assets/pattern.png);
  height: 350px;
  z-index: 1;
  position: relative;
  background-position: bottom;
  background-repeat: repeat;
}

.page-banner:before {
  background: #4949b8;
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  opacity: 1;
  z-index: -1;
}

.banner-text span {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #e4e4e4;
}

.banner-text h2 {
  font-size: 60px;
  line-height: 0.5;
  text-transform: capitalize;
  margin-bottom: 0;
  color: #fff;
}

.previewSectionTitle h2 {
  font-size: 36px;
  line-height: 48px;
}

.previewSectionTitle p {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
  line-height: 1;
}

/** Test list page ***/
.featuredItem2 {
  padding: 20px 15px;
  margin-top: 4.5em;
}
.rounded {
  overflow: hidden;
  border-radius: 256px;
}

/*** Question list page **/
.question-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.14);
  display: flex;
  padding: 1.5rem 3rem;
  transition: all 250ms ease;
  border-radius: 12px;
}

.question-wrapper .title {
  font-size: 21px;
}

.highlighter {
  background-color: #39A5F7;
    color: #fff;
    top: 0;
    left: -0.5rem!important;
    width: 38rem!important;
    z-index: 9;
    border-radius: 3px;
    box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
}

img.check-mark {
  display: inline;
  width: 20px;
  height: 100%;
}

/*** Contact **/
.jss412 {
  overflow: hidden;
  background: transparent;
  box-shadow: 0 1.5px 12px 2px rgba(0, 0, 0, 0.28);
  border-radius: 40px;
}

.jss411 {
  padding: 72px 0px;
}

.jss402 {
  color: #311b92;
  font-weight: 700;
}

.jss415 {
  padding: 0px 120px 80px;
  position: relative;
  margin-top: 64px;
  text-align: left;
}



/*** Footer bottom */

.jss961 img {

  width: 48px;
  filter: grayscale(1) contrast(0.5) brightness(1.5);
  margin-right: 8px;
}
.jss961 h6 {
  color: rgba(0, 0, 0, 0.38);
}

.social-icon {
  width: 50px;
  height: 30px;
}

.wave-block{
  display: block;
}

.wave-block svg{
  display: block;
}

footer {
  background: #187cd2;
  padding-top: 50px;
  padding-bottom: 70px;
}

/***** Blog Section ***/
.big-image {
  z-index: 1;
    overflow: hidden;
    box-shadow: 0px 5px 5px -3px rgba(128, 128, 128, 0.2), 0px 8px 10px 1px rgba(128, 128, 128, 0.14), 0px 3px 14px 2px rgba(128, 128, 128, 0.12);
    border-radius: 15px;
    width: 93%;
    height: 250px;
    margin: 0 auto;
}

.big-image img {
  width: 100%;
  transform: translateX(-50%);
    margin-left: 50%;
}

.summary p {
  font-size: 18px;
  /* margin-top: 16px; */
  font-weight: 600;
}

.small-image {
  width: 150px;
    height: 150px;
    margin: 0;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0px 5px 5px -3px rgba(128, 128, 128, 0.2), 0px 8px 10px 1px rgba(128, 128, 128, 0.14), 0px 3px 14px 2px rgba(128, 128, 128, 0.12);
    border-radius: 15px;
}

.small-image img{
  height: 100%;
  transform: translateX(-50%);
    margin-left: 50%;
}

/* Title **/

.jss1216 {
  display: block;
  position: relative;
  margin-bottom: 80px;
}

.jss1216 h3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 46px;
  font-weight: 700;
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}
.jss1216.jss1214:after {
  left: 50%;
  margin-left: -35px;
}

.jss1216:after {
  width: 70px;
  bottom: -32px;
  height: 12px;
  content: "";
  position: absolute;
  border-radius: 12px;
  background-image: linear-gradient(-20deg, #D1C4E9, #B2EBF2);
}

/**** Contact **/

.contactUsWrapper {
  position: relative;
  z-index: 4;
  padding: 50px 0;
}

.main-contact-form {
  margin-top: 25px;
  margin: 0 auto;
}

/*** TEST LIST ***/

.cat-image {
  background-color: #ffffff;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    left: 10px;
    position: absolute;
    top: -25px;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bottom-buttons {
  position: absolute;
  bottom: -35px;
  right: 25px;
}
