.App {
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.quiz {
  /* background-image: url("./assets/pattern.png"); */
  background-repeat: repeat-y;
  background-repeat-x: repeat;
  padding: 4em 2em;
  background-color: #1e1f26;
}

.quiz-wrapper {
  margin: 57px auto;
  max-width: 800px;
  min-height: 60vh;
  padding: 1em 3em;
  border-radius: 40px; 
}

.cardList {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.search-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-list li {
  padding: 5px 10px;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #eee;
  cursor: pointer;
}

.quiz-tests {
  padding: 15px 5px;
}

.question-cat-wrapper {
  padding: 5px;
  border: 1px solid #eee;
  background: #eee;
  max-width: 30%;
  margin: 0 auto;
}

.ck-button {
  display: block;
  overflow:auto;
  float:left;
  font-size: 17px;
  color: #5c5568;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid rgba(235, 236, 235, 0.75);
  border-radius: 40px;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease 0s;
  max-width: 352px;
  margin: 10px auto;
}

.ck-button.active {
  color: #FFF;
  background: #fbb233;
  border-color: #fbb233;
  transform: scale(1.03);
  font-weight: 700;
}

.ck-button:hover {
  color: #FFF;
  background: #fbb233;
  border-color: #fbb233;
  font-weight: 700;
}

.ck-button label {
  float:left;
  cursor: pointer;
  padding: 0.8em 1.4em;
}

.ck-button label span {
  text-align:center;
  padding:3px 0px;
  display:block;
}

.ck-button label input {
  position:absolute;
  top:-20px;
}



/** Categories **/

.category-image {
  flex-basis: 50%;
  flex-grow: 0;
  min-width: 125px;
  cursor: pointer;
}

.category-image:hover {
  animation: wiggle 1s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
  30% { transform: rotate(0deg); }
  45% { transform: rotate(5deg); }
  65% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.nav-icon {
  margin: 0.2em;
  width: 30px;
}

.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color:#fff;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 4px 0;
  transition: all .2s ease-in-out;
}


/*** HEADER ***/
/* header {
  background-color: #1b277d!important;
  color: #fff !important;
  border-bottom: none !important;
}; */

.MuiDrawer-paper {
  min-width: 150px;
  background-color: #1b277d;
  color: #fff;
}

.hero  {
  /* background-color: #1b277d; */
  padding: 120px 50px;
  color: #fff;
}


.hero > div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.hero h1 {
  color: #fff;
}

.hero p {
  color: #eee;
  font-size: 17px;
  color: beige;
  line-height: 25px;
}

.MuiBox-root.MuiBox-root-252 {
  max-width: 380px;
}
.MuiButton-containedPrimary {
  margin-top: 15px;
  background-color: #0d8f4f;
}


.circle-sb {
  width: 250px;
  border: 5px solid #00bfb6;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  font-family: arial;
  position: relative;
  color: #00bfb6;
}

.dcircle {
  border: 5px solid #00bfb6;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: -15px;
  bottom: 15px;
}

.dcircle:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background: #fff;
}

.dcircle1 {
  border: 5px solid #00bfb6;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  right: -35px;
  bottom: 13px;
}

.dcircle1:before {
  content: "";
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background: #fff;
}


.question-header {
  font-weight: 900;
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 2.2em;
    margin-bottom: 35px;;
}


/**** FOOTER ***/

footer h6 {
  color: #fff !important;
  letter-spacing: 1px !important;
}

footer ul li a{
  color: #dedede!important;
  font-size: 1.1em !important;
}


/***** Trying something ****/

.container {
  margin: 0 auto;
  padding: 0px 1rem;
  max-width: 1170px;
}

.max-w-400 {
  max-width: 400px !important;
}

.mb-16 {
  margin-bottom: 4rem !important;
}

.text-44 {
  font-size: 44px !important;
}

.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
.relative {
  position: relative;
}

.jss169 {
  /* display: inline-block; */
  position: relative;
}

.mt-6 {
  margin-top: 1.5rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.jss168 {
  display: block;
}

.jss168 {
  position: relative;
  text-align: right;
}

.jss168::before {
  top: 14%;
  left: 0;
  right: 0;
  height: 72%;
  margin: 0 -2000px 0 -80px;
  content: " ";
  display: block;
  opacity: 0.1;
  z-index: -1;
  position: absolute;
  background: #3f51b5;
  border-radius: 300px;
}

.jss167 {
  width: 362px;
} 

.jss166 {
  text-align: center !important;
}

section {
  padding: 5rem 0;
}