.App {
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .App > div {
  background-image: url("./assets/pattern.png");
  background-repeat: repeat-y;
  background-repeat-x: repeat;
  padding: 4em 2em;
} */
.quiz {
  background: #fff;
  background-image: url("./assets/pattern.png");
  background-repeat: repeat-y;
  background-repeat-x: repeat;
  padding: 4em 2em;
}

.quiz-wrapper {
  margin: 57px auto;
  width: 800px;
  min-height: 60vh;
  padding: 1em 3em;
  border-radius: 40px; 
}

.cardList {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.search-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-list li {
  padding: 5px 10px;
  width: 100px;
  margin: 0 auto;
  border: 1px solid #eee;
  cursor: pointer;
}

.quiz-tests {
  padding: 15px 5px;
}

.question-cat-wrapper {
  padding: 5px;
  border: 1px solid #eee;
  background: #eee;
  max-width: 30%;
  margin: 0 auto;
}

.ck-button {
  display: block;
  margin: 12px;
  padding: 1em 1.8em;
  overflow:auto;
  float:left;
  font-size: 17px;
  color: #5c5568;
  letter-spacing: 1px;
  line-height: 15px;
  border: 1px solid rgba(235, 236, 235, 0.75);
  border-radius: 40px;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease 0s;
  max-width: 352px;
}

.ck-button.active {
  color: #FFF;
  background: #fbb233;
  border-color: #fbb233;
  transform: scale(1.03);
  font-weight: 700;
}

.ck-button:hover {
  color: #FFF;
  background: #fbb233;
  border-color: #fbb233;
  font-weight: 700;
}

.ck-button label {
  float:left;
  cursor: pointer;
}

.ck-button label span {
  text-align:center;
  padding:3px 0px;
  display:block;
}

.ck-button label input {
  position:absolute;
  top:-20px;
}
